#menu {
	background: var(--primary);
	height: 100%;
	padding: 1rem !important;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow-y: auto;

	form {
		width: 100%;

		.btn-group-category {
			padding-bottom: 1rem;

			input:checked + label {
				background: #fff;
				color: var(--primary);
			}
		
			label {
				margin: 0 1rem;
				box-sizing: content-box;
				background: var(--secondary);
				color: #fff;
				padding: 0.5rem 1.5rem;
		
				i {
					margin-right: 1rem;
					vertical-align: bottom;
				}
			}
		}

		.input-field {
			input {
				color: #fff !important;
				border-bottom-color: #fff !important;
		
				&:focus {
					box-shadow: 0 1px 0 0 #fff !important;
				}
			}
		
			label {
				color: #fff !important;
			}
		
			i {
				color: #fff !important;
			}
		}
	
		.time {
			font-size: 0.8rem;
			font-weight: bold;
			color: #fff;
		}
	
		.spaces-left {
			color: #fff;

			caption {
				font-weight: bold;
			}

			tr {
				td {
					width: 50%;
					text-align: center;
				}
			}
		}

		.btn-group-actions {
			padding-top: 1rem;
			display: flex;
			justify-content: space-between;
		}
	}
}
