@import "~materialize-css/sass/components/normalize";
@import "~materialize-css/sass/components/color-variables";
@import "~materialize-css/sass/components/variables";
@import "~materialize-css/sass/components/global";
@import "~materialize-css/sass/components/grid";
@import "~materialize-css/sass/components/modal";
@import "~materialize-css/sass/components/forms/forms";
@import "~materialize-css/sass/components/toast";
@import "~materialize-css/sass/components/waves";
@import "~materialize-css/sass/components/typography";
@import "~materialize-css/sass/components/buttons";

:root {
	--primary: #3f51b5;
	--secondary: #757de8;
	--grey: #212121;
	--light: #fafafa;
}

html,
body,
#root,
#App {
	height: 100%;
	overflow: hidden;
}

.material-icons {
	vertical-align: middle;
}

.btn,
.btn-flat {
	font-weight: bold;

	&.primary {
		color: #fff;
		background: var(--primary);
	}

	&.white {
		color: var(--primary);
		background: #fff;
	}

	&.light {
		background: var(--secondary);
		color: #fff;
	}
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}