.custom-modal-overlay {
	position: absolute;
	left: 0;
	top: 0;
	background: var(--light);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	z-index: 1;

	.custom-modal {
		display: block;
		background: #fff;
		padding: 1rem;
		border-radius: .2rem;
		text-align: center;
		color: var(--grey);
		max-height: 100%;
	}
}