:root {
	--primary: #3f51b5;
	--light: #757de8;
}

html,
body,
#root,
#App {
	height: 100%;
	overflow: hidden;
}

.input-field input {
	color: #fff !important;
	border-bottom-color: #fff !important;
}

.input-field input:focus {
	box-shadow: 0 1px 0 0 #fff !important;
}

.input-field label {
	color: #fff !important;
}

.input-field i {
	color: #fff !important;
}

.btn,
.btn-flat {
	font-weight: bold;
}

.btn.white,
.btn-flat.white {
	color: var(--primary);
}

.btn.light,
.btn-flat.light {
	background: var(--light);
	color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
