.modal-config-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
}

.modal-config {
	padding: 1rem;
	background: var(--primary);
	border-radius: 1rem;
	width: 100%;
	text-align: center;
}

.modal-config .row {
	margin-bottom: 0;
}

.modal-config .input-field input {
	text-align: center;
}

.modal-config-wrapper .btn {
	background: #fff !important;
	color: var(--primary);
}
