.toast-container {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	transition: all 0.3s ease;
}

.toast {
	top: 0 !important;
	margin: 0 !important;
	background: var(--primary) !important;
}

.toast-container.hidden {
	bottom: 3rem !important;
	opacity: 0 !important;
}
